* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --c-h1-color: #00000028;
  --c-h2-color: #5c5c5c;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --input-color-focus: #f1f1f1 !important;
}

html.dark {
  --c-bg: #1d1c1c;
  --c-scrollbar: #1d1c1c;
  --c-scrollbar-hover: #1f1e1e;
  --c-h1-color: #d1d1d121;
  --c-h2-color: #a8a8a8;
  --input-color-focus: #272626 !important;
}

body {
  background-color: var(--c-bg);
}

h1 {
  color: var(--c-h1-color);
}

h2,
h3 {
  color: var(--c-h2-color);
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

.n-input {
  background-color: var(--input-color-focus) !important;
}